* {
  font-family: 'Inter','Noto Sans TC', sans-serif;
}

body {
  background-color: #fff;
  span {
    color: #1f2123;
    line-height: 22px;
  }
  p {
    color: #1f2123;
    line-height: 22px;
  }
  a {
    color: #1f2123;
    line-height: 22px;
  }
}